---
import BaseLayout from "../../layouts/BaseLayout.astro";
const { post } = Astro.props;
---

<BaseLayout title={post.data.title}>
  <article>
    <h1>{post.data.title}</h1>
    <Content />
  </article>
</BaseLayout>
