---
const title = "Photo";
---
<p>Before image.</p>
<img src="/images/hero.jpg" srcset="/images/hero-480w.jpg 480w, /images/hero-768w.jpg 768w" alt="Hero" />
<img src="/images/loose.jpg" alt="No srcset" />
<p>After image.</p>
