# build
dist
dist.nosync
.astro
.astro.nosync

# deps
node_modules
node_modules.nosync

# env
.env
.env.*

# OS
.DS_Store
Thumbs.db

# editors
.vscode/
.idea/
*.swp

# wrangler
.wrangler
.wrangler.nosync

# local HTTPS certs
.certs
.certs.nosync
